*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
  
  body{
    position: relative;
    font-family: sans-serif;
    background:#ededed;
    transition: 0.5s;
  }
  
.navbar{
  background-color: lightblue;
}
  .move{
   margin-left: -2rem;
  }
  .wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 56px;
    height: 100vh;
    background:rgb(2, 117, 216);
    padding: 1.25rem 0.5rem 2rem;
    transition: 0.5s;
  
  }
  nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }
  .nav-inner{
    margin-top: 5rem;
  }
  .nav_toggle{
    position: absolute;
    top: 1.1rem;
    right: -0.6rem;
    background: #ededed;
    padding: 5px 9px;
    border-radius: 50%;
    font-size: 1.25rem;
    color: #12192c;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
  }

  a{
    display: flex;
    /* justify-content: start; */
    align-items: center;
    padding: 5px 5px;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    /* border-radius: 0.5rem; */
    color:#ededed ;
    text-decoration:none ;
    transition: 0.3s;
  }
  .active{
    background:#ededed;
    color: #12192c;
  }
  a:hover{
    background:lightblue;
    color: #12192c;
  }
  .icon{
    font-size: 20px;
    /* color: #12192c; */
    margin-right:1rem ;
  }
  .text{
    font-weight: bold;
  
  }
  .show{
    width: 250px;
  }
  .rorate{
    transform: rotate(180deg);
    transition: 0.5s;
  }
  