/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
body{
    position: relative;
    font-family: sans-serif;
    background:white;
    transition: 0.5s;
}
.mid{
    margin-top: 90px;
} */